/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
  CSS RESET
*/

* {
  box-sizing:border-box;
}
body {
  margin: 8px;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
#logo {
  margin-top: 36px;
}
h1, h2 {
  margin: 0;
}
h1 {
  font-size: 30px;
  color: hsl(212, 18%, 24%)
}
h2 {
  font-size: 18px;
  color: hsl(212, 12%, 45%)
}
ol{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 36px 0 18px;
}
li {
  width: 50px;
  margin: 0px 5px;
}
nav ol li.icon{
  display: none;
}
a {
  color: hsl(212, 12%, 45%);
  text-decoration: none;
}
a:hover {
  color: hsl(212, 18%, 24%);
  font-weight: 500;
}
/*END HEADER*/

/*FOOTER*/
footer ol{
  justify-content: center;
}
footer li {
  justify-self: center;
  width: fit-content;
}
footer a {
  justify-self: center;
}
/*END FOOTER*/

/*WORKS Body*/
article #works{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 24px; 
}
.work-card {
  display: flex;
  flex-wrap: nowrap;
  width: 800px;
  margin: 8px 0;
}
.img {
  position: relative;
  width: 371px;
  height: 201px;
  background-color: hsl(212, 18%, 16%);
  border-radius: 10px;
}
.card-text {
  padding: 8px;
  width: 430px;
}
.card-text h3, h4 {
  color: hsl(212, 18%, 24%);
  margin: 0;
  font-weight: 600;
}
.card-text h4, p {
  color: hsl(212, 12%, 45%);
}
.img .svg {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.img:hover .svg{
  display: block;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: hsla(212, 0%, 0%, .4);
  z-index: 1;
}
iframe {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#close-overlay {
  position: fixed;
  top: 12px;
  right: 12px;
  width: 70px;
  height: 70px;
}
#close-overlay img {
  display: block;
  position: relative;
  top: 35;
  right: 0;
  margin: 12px auto; 
}
/*END WORKS*/

/*CONTACT*/
#contact {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#map-ac {
  height: 500px;
}
#form-wrapper {
  padding: 12px;
  width: 500px;
}
#servicesOffered {
  text-align: left;
  font-size: 16px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 0;
}
#name {
  display: flex;
  width: 100%;
}
#name input {
  width: 50%;
}
input, textarea {
  padding: 12px;
  margin: 4px;
  font-size: 12px;
  font-weight: 600;
}
/*END OF CONTACT*/

/*ABOUT*/
article #about {
  margin: 8px 24px;
  overflow: hidden;
}
#titleName {
  margin-left: 10%;
}
#titleName h3 {
  color: hsl(212, 18%, 24%);
  margin: 0;
  font-size: 24px;
}
#titleName h4 {
  color: hsl(212, 12%, 45%);
  margin: 0;
  font-size: 20px;
}
#bio-img {
  border-radius: 5px;
  float: left;
  margin-left: 10%;
  margin-right: 15px;
}
#about-text {
  display: block;
  margin-left: 10%;
  width: 80%;
  line-height: 1.5;
}
#about-text p {
  width: 400px;
  color: hsl(212, 12%, 45%);
  font-size: 14px;
}
#contact-info {
  clear: both;
  text-align: center;
  padding-top: 24px;
  font-size: 16px;
  color: hsl(212, 12%, 24%);
  font-weight: 600;
}
/*END ABOUT*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: black;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@media screen and (max-device-width: 1000px) {
  /* Header */
  nav {
    width: 100%;
  }
  nav ol li {
    display: none;
  }
  nav ol li.icon {
    display: block;
  }
  .nav.responsive li.icon {
    float: right;
  }
  .nav.responsive li {
    float: none;
    display: block;
  }
  nav ol {
    flex-direction: column;
    align-items: center;
    border: 2px solid grey;
    border-width: 2px 0;
  }
  .nav li{
    font-weight: 500;
    padding: 8px;
    align-self: center;
  }
  /* Slider */
  /* Works */
  .work-card {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .img {
    width: 500px;
    margin-bottom: 80px;
  }
  .work-card img {
    width: 500px;
  }
  .card-text {
    width: 450px;
  }
  .work-card h3 {
    font-size: 24px;
  }
  .work-card h4, p {
    font-size: 18px;
  }
  
  /* About */
  #bio-img {
  }
  #about-text p {
    font-size: 16px;
  }
  /* Contact */
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}